{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "v8.11.4"
        }
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    ["babel-plugin-root-import", {
      "rootPathSuffix": "src/"
    }]
  ]
}
